@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* reset file */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* colors */
    --gray: #C0C0C0;
    --black-80: #000000e0;
    --gray-80: #999898cc;
    --white-90: #ffffffe0;

    /* font size */
    --font-size-xs: 12px;
    /*(Extra Small)*/
    --font-size-sm: 14px;
    /*(Small)*/
    --font-size-base: 16px;
    /*(Base/Medium)*/
    --font-size-lg: 20px;
    /*(Large)*/
    --font-size-xl: 32px;
    /*(Extra Large)*/
    --font-size-2xl: 40px;
    /*(Double Extra Larde)*/
}

html,
body {
    font-size: 62.5%;
    font-family: roboto;
}

/* default tag style */

h1 {
    font-size: var(--font-size-2xl);
}

h2 {
    font-size: var(--font-size-xl);
}

h3 {
    font-size: var(--font-size-lg);
}

p,
li {
    font-size: var(--font-size-base);
}

button {
    border: none;
    cursor: pointer;
    outline: none;
}

input {
    border: none;
    outline: none;
}

ul {
    list-style: none;
}

/* index page */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    background: var(--gray);
    color: var(--black-80);
    border-bottom: 1px solid var(--black-80);

    .nav-bar {
        display: flex;

        .nav-bar__list {
            display: flex;
            gap: 2rem;
            font-weight: 500;

            li {
                padding: 1rem 2rem;
                cursor: pointer;

                &:hover {
                    background: var(--gray-80);
                    color: var(--white-90);
                    border-radius: 1rem;
                }
            }
        }
    }
}

section {
    padding: 1rem 2rem;

    .img-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        iframe {
            width: 90%;
            height: 100vh;
        }

        .img-mini {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 102.5%;

            img {
                width: 18rem;
                height: 8rem;
                cursor: pointer;
                padding: 1rem 0.2rem;
                transition: 0.2s ease;
                opacity: 80%;

                &:hover {
                    background-color: #dcdcdc97;
                }

                &.active {
                    border-color: #007bff;
                    background-color: #dcdcdc97;
                    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
                }

            }

        }
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
    background: var(--gray);
    color: var(--black-80);
    border-top: 1px solid var(--black-80);

    .footer__list {
        display: flex;
        flex-direction: row;
        gap: 6.7rem;
        font-weight: 500;
        align-items: center;

        .footer__item {
            padding: 1rem 2rem;

            &:hover {
                background: var(--gray-80);
                color: var(--white-90);
                border-radius: 1rem;
            }
        }
    }
}